.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
  padding: 25px;
  width: 80%;
  height: 90%;
  background: url(../../assets/home.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}