.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 25px;
  width: 70%;
  height: 600px;
  background-color: black;
}

.mythicCardsContainer {
  width: 35%;
  height: 500px;
  background-color: red;
}


.commonCardsContainer {
  width: 55%;
  height: 500px;
  background-color: red;
}