.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 25px;
  width: 70%;
  height: 600px;
  background-color: black;
}

.mythicCardsContainer {
  width: 35%;
  height: 600px;
  padding: 10px;
}


.commonCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
  height: 500px;
  overflow-y: auto;
}