.container {
  display: flex;
  position: relative;
  width: 250px;
  height: 150px;
  transition: transform 0.2s;
  background-color: yellowgreen;
  border-radius: 5px;
  border: 2px solid transparent;
}

.container:hover {
  transform: scale(1.1);
  border-color: red;
}

.selected {
  border-color: red;
}

.infoButton {
  width: 50px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
}

.infoButtonText {
  font-size: 16px;
}