.container {
  display: flex;
  position: relative;
  width: 200px;
  height: 260px;
  transition: transform 0.2s;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
  border: 2px solid transparent;
  margin-right: 10px;
  margin-bottom: 10px;
}

.container:hover {
  transform: scale(1.1);
  border-color: red;
}

.selected {
  border-color: purple;
}

.infoButton {
  width: 40px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
}

.infoButtonText {
  font-size: 16px;
}