.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 25px;
  width: 70%;
  height: 600px;
  background-color: black;
}

.difficultiesContainer {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  font-style: italic;
  color: lightcoral;
}

.difficultyLevels {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
}