.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 25px;
  width: 80%;
  height: 90%;
  background-color: black;
}
.ancientsContainer {
  height: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}